.hh{
    background: #94D5EF;
    height: 100%;
    max-height: 77px;
    width: 80%;
    padding-inline: 10%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.nnav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-logo{
    font-family: 'Archivo Black';
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;
}

.select-language{
    background-color: #CAEAF7;
    border-radius: 3px;
    width: 100%;
    height: auto;
    max-width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap:10px
}

.nav-section-2{
    width: auto;
    display: flex;
    gap: 21px;
    align-items: center;
}

.hide-menu{
    display: none;
}

.sidenav {
    height: 110vh;
    width: 0%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background: #94D5EF;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 24px;
  }
  
  .sidenav a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav .closebtn {

    font-size: 40px;
  }

  

  .nav-link{
    font-family: 'Apercu';
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
    max-width: 379px;
    margin: 0;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }


  .active{
    color: #05A8D9;
  }

  .nav-link:hover {
    color: #0fa9d8;
  }
  .user-icon{
    max-width: 20px;
    object-fit: none;
    height: 100%;
  }

  .user-icon:hover{
    fill:#0fa9d8;
  }

  .arrowlang{
    margin-inline-start: 8px;
  }

  .select-div{
    width: 74px;
    position: absolute;
    top: 125%;
    left: -8px;
    z-index: 1;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #CAEAF7;
    border-top: none;
  }
@media (max-width: 600px) {

    .hh{
        width: 90%;
        padding-inline: 5%;
    }

    .nav-logo{
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.07em;

    }
    
    .nav-section-2{
        gap:5px
    }

    .hide-menu{
        display: inline;
    }
    
    .sidenav {
      padding-top: 15px;
    }
  
    .sidenav a {
      font-size: 18px;
    }

    .nav-link{
        font-size: 18px;
        line-height: 32px;
    }

    .select-language{
      padding: 3px;
    }

    .select-div{
      width: 45px;
      max-width: 45px;
      top: 110%;
      left: -3px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;

    }
}

